*{
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    max-width: 1500px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid rgb(251, 249, 249);
}

.container{
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

h2{
    font-size: 28px;
    font-weight: 600;
    padding: 10px 0;
}
/* -------------Topbar Section------------------------------ */

.topbar-section{
    background-color: #173a69;
    padding: 8px 0 8px 0;
}

.toper-parent{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.topbar-left ul{
    display: flex;
    column-gap: 30px;
}

.topbar-right ul{
    display: flex;
    justify-content: end;
    column-gap: 30px;
}

.topbar-right ul li:hover{
    scale: 200%;
}

.toper-parent a{
    font-size: 13px;
    line-height: 20px;
    /* font-weight: 400px; */
    color: white;
    letter-spacing: .5px;
}

/* -------------Header Section----------------------------- */

.header-parent{
    padding: 8px 0 7px 0;
    display: grid;
    grid-template-columns: 1fr 2fr; 
    align-items: center;  
}

.header-parent ul{
    display: flex;
    justify-content: end;
    gap: 80px;    
}

.header-parent ul li a{
    color: black;
    font-size: 15px;
    line-height: 20px;
    font-weight: 600;
}

.header-parent ul li a:hover{
    width: 100px;   
    padding: 35px 0 32px 0;
    background-color: rgb(249, 250, 252);
    border-bottom: 4px solid #173a69;
}

/* -------------- Baner section---------------------------- */

.banner-section {
    padding: 100px 0;
    background: linear-gradient( rgba(90, 90, 91, 0.7), rgba(79, 79, 81, 0.7) ), url('../Service/img/service_banner_picture.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;    
}

.banner-section{
    text-align: center;
}

.banner-contant h1{
    color: white;
    font-size: 32px;
}

.banner-contant p{
    color: white;
}

/* ----------- contact section----------------------------- */

.contact-section{
    padding: 95px 0 70px 0;
}

.contact-parent{
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.contact-1 h3{
    font-size: 25px;
    font-weight: 600;
}

.contact-1 p{
    padding: 20px 0;
}

.name{
    height: 40px;
    width: 350px;
    padding-left: 20px;        
}

.email{
    height: 40px;
    width: 350px;
    padding-left: 20px;
}

.subject{
    height: 40px;
    width: 745px;
    padding-left: 20px;
}

.massege{
    height: 135px;
    width: 745px;
    padding-left: 20px;
}

.contact-2{
    padding-left: 70px;
}

.contact-2 h3{
    font-size: 25px;
    font-weight: 600;
}

.contact-2 ul{
    padding: 20px 0px;
}

.contact-2 ul li a{
    line-height: 2;
    color: #094ea8;
    font-weight: 600;
}

.contact-btn{
    margin-top: 30px;
}

.contact-btn a{   
    padding: 11px 30px;
    background-color: #173a69;
    color: white;
    font-size: 14px;    
}

/* ------------- bottom section------------------------------ */

.bottom-contact{    
    padding: 85px 0;
    background-color: #173a69;
    display: flex;
    justify-content: center;
    gap: 10px;    
}

.bottom-contact p{
    font-size: 24px;
    color: white;
}

.bottom-contact a{
    font-size: 30px;
    color: white;
    font-weight: 700;
    /* letter-spacing: 2px; */
}

.bottom-parent{
    padding: 70px 0;
    text-align: center;
}

.bottom-icon ul {
    padding-top: 45px;
    display: flex;
    gap: 25px;
    justify-content: center;
}

.bottom-icon ul a {
    font-size: 20px;
    color: #0a40e1;
    border: 1px solid #686565;
    padding: 5px 10px;
    border-radius: 50px;
}

.bottom-icon ul li:hover{
    scale: 150%;        
}

/*--------------soket---------------------------------------*/

.copyright {
    width: 100%;
    height: 75px;
    padding-top: 30px;
    background: #242323;
    text-align: center;
    color: white;
    box-sizing: border-box;
    
}
.copyright a{
    text-decoration: none;
    color: aliceblue;
}

.copyright a i{
    color: #0a40e1;
}